body{
    // background-color: white;
    background-color: #1D1D1D;
}

.togcol{
    color: white;
}


@mixin navlista {
    margin-left: 40px;
    color: #A39E9E;
    
}

.navlista{
 @include navlista(); 
}

@mixin navlist {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: normal;
       
}

.navlist{
    @include navlist();
}


// Hero section



@mixin heroh1 {
    font-family: "Montserrat Black";
    font-size: 2.475rem;
    color: white;
    font-weight: bolder;
}


.heroh1{
    @include heroh1;
}

@mixin herop {
    // margin-left: 200px;
    color: #B9B3B3

    
}
.herop{
    @include herop();
}

@mixin socialicons {
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    
}

.bi {
    margin: .5rem;
    color: #D91650;
}

.socialicons{
    @include socialicons;
}

@mixin mypics {
    width: 13.25rem;
    height: 16.875rem;
    
}

.mypics{
    @include mypics();
}

@mixin rowborder {
    padding: 5% 7%;
    box-shadow: 3px 3px 3px 3px black;


}

.rowborder{
    @include rowborder();
}


@mixin navi {
    color: white;
   
    
}
.navi{
    @include navi();
}

// download button

@mixin dwnbtn {
    width: 13.25rem;
    height: 3.125rem;
    border-color: #D91650;
    color: #D91650;
    font-size: 1rem;
}

.dwnbtn{
    @include dwnbtn();
}

.dwnbtn :hover{
    color: #D91650;
}

// About me section

@mixin abt {
    font-family: "Montserrat Black";
    font-size: 2.1875;
    color: #D91650;
    display: flex;
    justify-content: center;
}

.abt{
    @include abt();
}

@mixin abtp {
    font-family: "Roboto Regular";
    color: #A39E9E;
    font-size: 1.125rem;
    
    
}

.abtp{
    @include abtp();
}

@mixin rowabt {
    margin-top: 2%;
    padding: 5% 7%;
    box-shadow: 3px 3px 3px 3px black;
    
}
.rowabt{
    @include rowabt();
}

// Tech and dev section

@mixin tech-features {
    padding: 5% 15%;
}

.tech-features{
    @include tech-features();
}

@mixin techname {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: #D91650;
    font-family: "Montserrat Black";
 
}

.techname{
    @include techname();
}

.techicons{
    text-align: center;
}
.techrow{
    box-shadow: 3px 3px 3px 3px black;

}

@mixin fa-6x {
    color: grey;
    
}
.fa-6x{
    @include fa-6x();
}

.techrow{
    padding: 5%;

}

@mixin techh4 {
    font-size: 1.1rem;
    padding: 1%;
}
.techh4{
    @include techh4();
    
}
    