body{
    // background-color: white;
    background-color: #1D1D1D;
    position: relative;
}

.togcol{
    color: white;
}


@mixin navlista {
    margin-left: 40px;
    color: #A39E9E !important;
    
}

.navi{
    color: #ffffff !important;
    margin-right: 20px;
}

.navlista{
 @include navlista(); 
}

@media(max-width: 820px){
    .navul{
        background-color: #130912;
        height: 40rem;
        position: relative;
    }
}

// @media(max-width: 820px){
//     .bgcolap{
//         background-color: #130912;

//     }

// }

// @media(max-width: 820px){
//     .nnb{
//         background-color: #130912;
//     }
// }

@media (max-width: 820px){
    .rowborder{
        text-align: center;
    }
}

.navhover:hover{
    color: #D91650 !important;
    display: block;
}



@mixin navlist {
    font-family: "montserrat";
    font-size: 1.03rem;
    font-weight: normal;
       
}

.navlist{
    @include navlist();
}


// Hero section



@mixin heroh1 {
    font-family: "Montserrat";
    font-size: 3.8rem;
    color: white;
    font-weight: bolder;
}



.heroh1{
    @include heroh1;
}

@mixin herop {
    // margin-left: 200px;
    color: #B9B3B3

    
}
.herop{
    @include herop();
}

@mixin socialicons {
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    
}

.fddf {
    margin-bottom: 30px !important;
    padding-left: 20px;
    color: grey;
}

.socialicons{
    @include socialicons;
}

@mixin mypics {
    width: 13.25rem;
    height: 16.875rem;
    
}

.mypics{
    @include mypics();
}

@mixin rowborder {
    padding: 5% 7%;
    box-shadow: 2px 2px 2px 2px black;


}

.rowborder{
    @include rowborder();
}


@mixin navi {
    color: white;
   
    
}
.navi{
    @include navi();
}

// download button

@mixin dwnbtn {
    width: 13.25rem;
    height: 3.125rem;
    border-color: #D91650;
    color: #D91650;
    font-size: 1rem;
}

.dwnbtn{
    @include dwnbtn();
}

.dwnbtn :hover{
    color: #D91650;
}

// About me section

@mixin abt {
    font-family: "Montserrat";
    font-size: 2.1875;
    color: #D91650;
    display: flex;
    justify-content: center;
}

.abt{
    @include abt();
}

@mixin abtp {
    font-family: "Roboto";
    color: #A39E9E;
    font-size: 1.125rem;
    
    
}

.abtp{
    @include abtp();
}

@mixin rowabt {
    margin-top: 2%;
    padding: 5% 7%;
    box-shadow: 2px 2px 2px 2px black;
    
}
.rowabt{
    @include rowabt();
}

// Tech and dev section

@mixin tech-features {
    padding: 5% 15%;
}

.tech-features{
    @include tech-features();
}

@mixin techname {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: #D91650;
    font-family: "Montserrat";
 
}

.techname{
    @include techname();
}

.techicons{
    text-align: center;
}
.techrow{
    box-shadow: 2px 2px 2px 2px black;

}

@mixin fa-6x {
    color: grey;
    
}
.fa-6x{
    @include fa-6x();
}

.techrow{
    padding: 5%;

}

@mixin techh4 {
    font-size: 1.1rem;
    padding: 1%;
}
.techh4{
    @include techh4();
    
}

// Education section

@mixin educate {
    font-family: "Montserrat";
    font-size: 2.1875;
    color: #D91650;
    margin: 2%;
}

.educate{
    @include educate();
}

@mixin rotech {
    text-align: center;
    box-shadow: 2px 2px 2px 2px black;
    
}
.rotech{
    @include rotech();
}

@mixin edp {
    font-size: 0.75rem;
    color: #A39E9E;
    font-family: "Roboto";

    
}

.edp{
    @include edp();
}


// My works section

@mixin wrkcol {
    margin-bottom: 1.25rem;
    text-align: center;
    padding: 2%;
    
}

@mixin mwrk {
    
    text-align: center;
    font-family: "Montserrat";
    font-size: 2.1875;
    color: #D91650;
    margin-top: 2%;
}
.mwrk{
    @include mwrk();

}

@mixin wrkrow {
    box-shadow: 2px 2px 2px 2px black;
}

.wrkrow{
    @include wrkrow();

 
}

.wrkcol{
 @include wrkcol();   

}

.card{
    border: 2px solid #D91650;
    
}


@mixin ptxx {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #A39E9E;
    padding: 0 10px 0 10px;    
}

.ptxx {
    @include ptxx();
    
}

@mixin btnview {
    background-color: #D91650 !important;
    border: none;
    outline: none;
}

.btnview{
    @include btnview();
   
}
.btnview:hover{
    background-color: #57061E !important;
}


@mixin getintbutton {
    font-family: "Montserrat";
    font-size: 0.875rem;
    color: white;
    background-color: #D91650 !important;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.getintbutton:hover{
    background-color: #57061E !important;
}

.getintbutton{
    @include getintbutton();
}


.getintbt{
    padding: 50px 0 60px 0;
}


@mixin footer {
    text-align: center;
    color: #A39E9E;
    padding: 20px;
    background-color: #585656;
    
}

footer{
    @include footer();
}

@mixin a{
    text-decoration: none;
}

a{
    @include a();
}

@media(max-width: 820px){
    .container{
        text-align: center;
    }
}

// .mypics{
//     border-radius: 50%;
// }
.arrow-up{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: right;

    .faaa{
        color: #D91650 !important;
    }

    .faaa:hover{
       color: yellow !important;
    }
}